{#
    Copyright (c) 2023 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalsce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Version        : 1  == #}
{# == Node Type Name           : Incremental Load  == #}
{# == Node Type Description    :  This node loads full data into stage table the first time and incremental data in subsequent loads  == #}

	

{% if node.materializationType == 'table'   %}

{% if config.preSQL %}
		{{ stage('Pre-SQL') }}
		{{ config.preSQL }}
{% endif %}

  {% set source = sources[0] %}
  {#Columns added for data quality#}
  {% set ns = namespace(failed_tests=[]) %}
    
     {%if config.refTable %}
  		{{ stage('Truncate Stage Table') }}
		TRUNCATE IF EXISTS {{ ref_no_link(node.location.name, node.name) }}
     {%endif%}
     
    {{ stage('Insert Data') }}

   INSERT INTO {{ ref_no_link(node.location.name, node.name) }}
	(      
    {%if config.dqhandle %}
    {% for col in columns if (col.name != "_SEQUENCE" and "_null" not in col.name and "_dup" not in col.name and col.name != "TOTAL_FAILED_TESTS" and col.name != "QUALITY_FLAG" ) -%}
        "{{ col.name }}"
        {% if not loop.last %}, {% endif -%}
    {% endfor -%}
    {% else -%}
    {% for col in columns if (col.name != "_SEQUENCE") -%}
        "{{ col.name }}"
        {% if not loop.last %}, {% endif -%}
    {% endfor -%}
    {%endif -%}
    {%if config.dqhandle and config.dqnull and config.dqdup -%} 
	   {% for item in config.ndqcolumns['items'] -%}
        {% set col_name = '"' ~ item.ncolumnName.name ~ '_null"' -%}
		 ,{{col_name}} 
	    {% endfor -%}
        {% for item in config.ddqcolumns['items'] -%}
        {% set col_name = '"' ~ item.dcolumnName.name ~ '_dup"' -%}
		,{{col_name}} 
	   {%endfor -%}
    {%elif config.dqhandle and config.dqdup -%}
	    {% for item in config.ddqcolumns['items'] -%}
        {% set col_name = '"' ~ item.dcolumnName.name ~ '_dup"' -%}
		,{{col_name}} 
	   {%endfor -%}
    {%elif config.dqhandle and config.dqnull -%}
        {% for item in config.ndqcolumns['items'] -%}
        {% set col_name = '"' ~ item.ncolumnName.name ~ '_null"' -%}
		 ,{{col_name}} 
	    {% endfor -%}
    {%endif -%}
	{%if config.dqhandle -%}
	,"TOTAL_FAILED_TESTS" 
    ,"QUALITY_FLAG"
	{%endif -%}
      )
		select * from(SELECT
  {% for col in source.columns if (col.name != "_SEQUENCE" and "_null" not in col.name and "_dup" not in col.name and col.name != "TOTAL_FAILED_TESTS" and col.name != "QUALITY_FLAG" ) -%}
       {{ get_source_transform(col) }} AS  "{{ col.name }}" 
    {%- if not loop.last -%}, {% endif %} 
   {% endfor -%}    {#Columns added for data quality#}
   {%- set ns = namespace(failed_tests=[]) -%}
	 {%- if config.dqhandle and config.dqnull and config.dqdup -%} 
	    {{- generate_null_checks(config.ndqcolumns['items'], ns) }}
        {{ generate_duplicate_checks(config.ddqcolumns['items'], ns) -}}
    {%elif config.dqhandle and config.dqdup -%}
        {{ generate_duplicate_checks(config.ddqcolumns['items'], ns)}}   
    {%elif config.dqhandle and config.dqnull -%}
        {{ generate_null_checks(config.ndqcolumns['items'], ns) }}
	{%endif -%}   
     {# Form the total_failed_tests column by joining the list with ' + ' #}
      {% if ns.failed_tests | length > 0 -%}
         ,({{ ns.failed_tests | join(' + ') }}) AS "TOTAL_FAILED_TESTS"
         ,CASE WHEN "TOTAL_FAILED_TESTS" > 0 THEN 'B' ELSE 'G' END AS "QUALITY_FLAG"
      {%endif -%}  
     {{source.join -}})

    {% if config.postSQL %}
		{{ stage('Post-SQL') }}
		{{ config.postSQL }}
	{% endif %}
			
     
{% else %}
    {{ stage('Load Skipped for View') }}
    --The node {{node.name}} is materialized as View. Therefore, a Load operation is not supported.
    SELECT 1 AS INFO_MESSAGE WHERE FALSE
{% endif %}